<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-flex-container">
      
      <div class="footer-left">
        <a href="{{ "/" | relative_url }}">
          <img class="footer-logo" src="{{ "/assets/events/logo2.svg" | relative_url }}" alt="S3L Logo">
        </a>
      </div>

      <!-- Added the footer-description class here -->
      <div class="footer-right footer-description">
        <p>{{ site.description | escape }}</p>
      </div>

    </div>
  </div>
</footer>
